@font-face {
    font-family: 'Fuente1';
    src: url('fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf')
}

h1{
    font-family: 'Fuente1', Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: calc(100px);
}

footer {
    display: flex;
    align-items: center;
    padding: var(--spacing);
    width: var(--container-width); 
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.avanzar i,
.retroceder i {
    font-size: 40px; 
    margin: 0 10px; 
}